<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="teachers">
      <h2 data-cy="teachersDetailsHeading"><span>Teachers</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ teachers.id }}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
          <span>{{ teachers.firstName }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ teachers.lastName }}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
          <span>{{ teachers.phone }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ teachers.user?.login }}</span>
        </dd>
        <dt><span>Courses</span></dt>
        <dd>
          <span *ngFor="let courses of teachers.courses; let last = last">
            <a [routerLink]="['/courses', courses?.id, 'view']">{{ courses.courseName }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/teachers', teachers.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
